{% extends 'base/base.html' %}
{% load  markdown_deux_tags %}
{% block post %}
    <h2>
        {{ allArticle.title }}
    </h2>
    <p><span class="glyphicon glyphicon-time"></span> {{ allArticle.created }}</p>
    <hr>
    <p>{{ allArticle.content|markdown }}</p>

    <hr>

    <!--打分版，用户可以对当前新闻、游戏或者应用等进行1-5级的评分-->
    <div id="SOHUCS" sid="{{ allArticle.pk }}"></div>
    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js"></script>
    <script type="text/javascript">
        window._config = {showScore: true};
        window.changyan.api.config({
            appid: 'cysoJB8qA',
            conf: 'prod_f5292b51941e10192e858aaaf35cd2d6'
        });
    </script>


    <form action="" method="post">
        {% csrf_token %}


        {{ form }}
        <button class="btn btn-success" type="submit">提交</button>
    </form>
    {{ form.media }}
    <hr>
    <h3>回复</h3>
    <hr>
    {% for comment in comments %}
        {{ comment.message }}
        <hr>
    {% endfor %}

{% endblock %}